*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar
{
    width: 100%;
    background-color: crimson;
    position: fixed;
    z-index: 1;
}
.navbarcontainer
{
    width: 80%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul
{
    display: flex;
}
.menu ul li
{
    list-style: none;
    padding-left: 20px;
}
.menu ul li a
{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
   
}
.menu ul li button
{
    border:1px solid black;
    background-color: black;
    color: white;
    position: relative;
    height: 30px; 
    width: 50px;
    border-radius: 5px;
}
.menu ul li a:hover
{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 1s;
}
.cover
{
    position: relative;
    height: 700px;
    width: 100%;
    background-image: linear-gradient(360deg,black,rgba(480, 34, 34, 0)), url('https://plus.unsplash.com/premium_photo-1661814278311-d59ab0b4a676?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat
}

.cover h1
{
    height: 100px;
    width: 30%;
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 70px;
    color: white;
}
.cover p
{
    height: 70px;
    width: 25%;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 10%;
}
.cover a
{
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    border: 1px solid white;
    height: 40px;
    width: 150px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    
}
.cover a:hover
{
    background-color: white;
    color: black;
    transition: 1s;
}
.container
    {
        height: 200px;
        width: 80%;
        margin: auto;
        padding-top: 5%;
        display: flex;
        justify-content: space-between;
    }
.supportright
    {
        height: 30px;
        width: 50%;
    }
.supportright h2
    {
        font-size: 30px;

    }
.supportright h1
    {
        font-size: 50px;
    }
.covid 
    {
        height:100px;
        width: 60%;
        font-size: 20px;
        display: block;
        
    }
.box
    {
        height: 550px;
        width: 85%;
        margin: auto;
        display: flex;
    }
.boxcontainer
    {
        height: 500px;
        width: 30%;
        margin: auto;
        position: relative;
    }
.box1
    {
        height: 350px;
        width: 90%;
        background-color: black;
        border-radius: 10px;
        margin-top: 10px;
        color: white;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }
.box1 h1
    {
        position: absolute;
        top: 15%;
        left: 8%;
    }
.box1 h2
    {
        position: absolute;
        top: 40%;
        left: 30%;
        text-transform: uppercase;
    }
.box1 img
    {
        position: absolute;
        top: auto;
        left: auto;
        bottom: -25%;
        right: -20%;
    }

.box2
    {
        height: 350px;
        width: 90%;
        background-color: black;
        border-radius: 10px;
        margin-top: 10px;
        color: white;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }
.box2 h1
    {
        position: absolute;
        top: 15%;
        left: 8%;
    }
.box2 h2
    {
        position: absolute;
        top: 45%;
        left: 35%;
        text-transform: uppercase;
    }
.box2 img
    {
        position: absolute;
        top: auto;
        left: auto;
        bottom: -15%;
        right: -7%;
    }
.box3
    {
        height: 350px;
        width: 90%;
        background-color: black;
        border-radius: 10px;
        margin-top: 10px;
        color: white;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }
.box3 h1
    {
        position: absolute;
        top: 15%;
        left: 8%;
    }
.box3 h2
    {
        position: absolute;
        top: 40%;
        left: 30%;
        text-transform: uppercase;
    }
.box3 img
    {
        position: absolute;
        top: auto;
        left: auto;
        bottom: -30%;
        right: -10%;
    }
.boxcontainer p
    {
        height: 100px;
        width: 90%;
    }
.coverimg
{
    height: 700px;
    width: 100%;
    background-image: linear-gradient(360deg,black,rgba(62, 56, 56, 0)),url('https://images.unsplash.com/photo-1551632811-561732d1e306?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJla2tpbmd8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: right;
    color: white;
    margin-bottom: 5%;
}
.coverimg h1
{
    height: 100px;
    width: 50%;
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;

}
.coverimg p
{
    height: 70px;
    width: 25%;
    font-size: 20px;
    position: absolute;
    top: 45%;
    right: 10%;
}
.coverimg a
{
    position: absolute;
    top: 60%;
    right: 10%;
    background-color: white;
    /* border: 1px solid white; */
    color: black;
    height: 40px;
    width: 200px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.coverimg a:hover
{
    background-color: red;
    color: black;
    transition: 0.5s;
}
.contant
{
    height: 710px;
    width: 80%;
    margin: auto;
}
.shop
{
    height: 60px;
    width: 20%;
}
.productbox
{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.productcontainer
{
    height: 600px;
    width: 32%;
    margin-top: 30px; 
}
.productcontainer img 
{
    height: 450px;
    width: 100%;
    border-radius: 8px;
}
.data
{
    height: 70px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.data p
{
    text-transform: capitalize;
}
.data h2
{
    text-transform: uppercase;
}
.productcontainer button
{
    height: 35px;
    width: 25%;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: 1px solid red;
    position: relative;
    left: 40%;
    text-transform: capitalize;
}
.view
{
   height:30px ;
   width: 100%;
   margin: auto;
   text-align: center;
}
.view a
{
    padding: 12px 50px;
    color: white;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
}
.local
{
    width:80%;
    height:600px;
    margin: auto;
}
.black
{
    height: 500px;
    width: 80%;
    margin: auto;
    background-color: black;
    margin-top:10%;
    float: right;
    border-radius: 5px;
    position: relative;
}
.black img
{
    height: 450px;
    width: 35%;
    position: absolute;
    right: 90%;
    top: 5%;
    border-radius: 5px;
}
.black h1
{
    height: 120px;
    width: 100%;
    color: white;
    text-align: center;
    padding: 50px;
}
.black p
{

    height: 70px;
    width: 40%;
    margin: auto;
    color: white;
    text-align: left;
}
.footer 
{
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 10%;
}
.acme
{
    width: 80%;
    height: 40px;
    margin: auto;
    position: relative;
    top:30%;
    display: flex;
    justify-content: space-between;
}
.icon
{
    width: 150px;
    height: 30px;
    display: flex;
    margin-right: 40px;
    float: right;
}
.icon i
{
    width: 25px;
    height: 25px;
    margin-left:20px ;
    float: right;
    color: white;
    font-size: 40px;
}
.footernav
{
    width: 100%;
    height: 20px;
    margin-top: 130px;
    text-align: center;
    color:white;
    font-size: small;
    /* background-color: aqua; */
} 
